.main-price {
  padding-top: 100px;
}
.main-price h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-price_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.main-price_block .main-price_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: #27AE60;
  margin: 20px;
}
.main-price_block .main-price_layout .show-block_left, .main-price_block .main-price_layout .show-block_center, .main-price_block .main-price_layout .show-block_right {
  display: none;
}
.main-price_block .main-price_layout .show-block_left.active, .main-price_block .main-price_layout .show-block_center.active, .main-price_block .main-price_layout .show-block_right.active {
  display: block;
  -webkit-animation: 1s showAnim ease-in;
          animation: 1s showAnim ease-in;
}
.main-price_block .main-price_layout h2 {
  margin-bottom: 20px;
  margin-top: -15px;
  font-weight: 700;
  color: #4F4F4F;
}
.main-price_block .main-price_layout button {
  height: 50px;
  width: 320px;
  border: none;
  background-color: #27AE60;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: 1s;
}
.main-price_block .main-price_layout button:hover {
  box-shadow: inset 2px 2px 5px black;
  background-color: #4F4F4F;
}
.main-price_block .main-price_layout hr {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
  border-color: #4F4F4F;
}
.main-price_block .main-price_layout p {
  margin: 15px;
  font-size: 20px;
}
.main-price_block .main-price_layout .price {
  background-color: #27AE60;
  color: white;
  text-align: center;
  font-size: 30px;
  width: 100%;
  height: 60px;
  padding-top: 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-price_block .main-price_layout .price .question-style {
  border: 1px solid #4F4F4F;
  background-color: #4F4F4F;
  padding-top: 2px;
  font-size: 20px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 1s;
}
.main-price_block .main-price_layout .price .question-style:hover {
  color: #4F4F4F;
  background-color: #fff;
}
.main-price_block .main-price_layout .price .question-style:hover + .question-text {
  display: block;
  transition: 1s;
}
.main-price_block .main-price_layout .price .question-style:focus + .question-text {
  display: block;
}
.main-price_block .main-price_layout .price .question-text {
  color: #4F4F4F;
  position: absolute;
  background-color: rgba(255, 255, 230, 0.9);
  transform: translateX(150px);
  border-radius: 15px;
  display: none;
}
.main-price_block .main-price_layout .price .question-text p {
  font-size: 15px;
  text-align: center;
  width: 100px;
  font-weight: 600;
}

@-webkit-keyframes showAnim {
  0% {
    opacity: 0;
    transform: translate3d(0%, -100px, 0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes showAnim {
  0% {
    opacity: 0;
    transform: translate3d(0%, -100px, 0px);
  }
  100% {
    opacity: 1;
  }
}
.main-price_href {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20%;
}

.href {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.href .phone {
  margin: 20px;
  transition: 1s;
}
.href .phone:hover {
  transform: scale(1.3);
}
.href .telegram {
  margin: 20px;
  transition: 1s;
}
.href .telegram:hover {
  transform: scale(1.3);
}
.href a {
  text-decoration: none;
  color: white;
}

.price-portfolio h2 {
  color: #4F4F4F;
  margin-top: 200px;
  margin-left: 2%;
  font-size: 40px;
}

.carousel {
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  margin-top: 20px;
}

.carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
  background: black;
  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.carousel-item .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  opacity: var(--opacity);
  font-family: "Orelo-sw-db", serif;
}
.carousel-item .carousel-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5));
}
.carousel-item .title {
  position: absolute;
  z-index: 1;
  color: #fff;
  bottom: 20px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.carousel-item .num {
  position: absolute;
  z-index: 1;
  color: #fff;
  top: 10px;
  left: 20px;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 10vw, 80px);
}
.carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.layout:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 90px;
  width: 10px;
  height: 100%;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  opacity: 0.15;
}
.layout .box {
  position: absolute;
  bottom: 0;
  left: 30px;
  color: #fff;
  transform-origin: 0% 10%;
  transform: rotate(-90deg);
  font-size: 9px;
  line-height: 1.4;
  text-transform: uppercase;
  opacity: 0.4;
}

.logo {
  position: absolute;
  z-index: 2;
  top: 28px;
  right: 28px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orelo-sw-db", serif;
  pointer-events: all;
  color: black;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 0.1em;
}

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 25px;
  color: #fff;
  opacity: 0.4;
}
.social a {
  display: inline-block;
  margin-left: 3px;
}
.social svg {
  --fill: #fff;
  width: 35px;
  height: 35px;
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid #27AE60;
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;
}
@media (pointer: fine) {
  .cursor {
    display: block;
  }
}

.cursor2 {
  --size: 2px;
  transition-duration: 0.7s;
}

.footer-price {
  margin-bottom: 5px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.footer-price p {
  text-align: center;
  color: #4F4F4F;
  font-weight: 600;
}/*# sourceMappingURL=price.css.map */