@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Lora", serif;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
  -webkit-animation: bodyUp 1s ease-in;
          animation: bodyUp 1s ease-in;
}

@-webkit-keyframes bodyUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bodyUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menuBtn.active span:nth-of-type(1) {
  display: none;
}

.menuBtn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menuBtn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menuBtn {
  margin-left: 85%;
  cursor: pointer;
  width: 100px;
  height: 30px;
  position: fixed;
  z-index: 3;
  overflow: hidden;
  display: none;
}

.menuBtn span {
  width: 30px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: #27AE60;
  transition: all 0.5s;
}

.menuBtn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menuBtn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 4;
  width: 100%;
}
header h1 {
  color: white;
  margin: 16px;
}
header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 500px;
}
header ul a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 600;
}
header ul a:hover {
  color: #27AE60;
}
header ul a.active {
  color: #27AE60;
}

.aboutMe {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 36px 34px 8px rgba(0, 0, 0, 0.79);
  padding: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.aboutMe .aboutMe-text {
  color: white;
  margin: 50px;
}
.aboutMe .aboutMe-text h1 {
  font-weight: 100;
}
.aboutMe .aboutMe-text p {
  margin-top: 20px;
  color: #535353;
  font-weight: 600;
}
.aboutMe .aboutMe-text .aboutMe-text_button {
  margin-top: 50px;
}
.aboutMe .aboutMe-text .aboutMe-text_button a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
.aboutMe .aboutMe-text .aboutMe-text_button a button {
  margin-top: 5px;
  color: #27AE60;
  font-weight: 600;
}
.aboutMe .aboutMe-img {
  margin: 50px;
}
.aboutMe .aboutMe-img img {
  border: 15px solid #202020;
  border-radius: 250px;
}

@-webkit-keyframes animSwipe {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes animSwipe {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
.aboutContact h1 {
  color: #fff;
  text-align: center;
  margin-top: 100px;
}
.aboutContact .aboutContact-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.aboutContact .aboutContact-text .swiper {
  width: 45%;
}
.aboutContact .aboutContact-text .swiper .swiper-button-next {
  color: #27AE60;
  -webkit-animation: animSwipe 1s linear infinite alternate;
          animation: animSwipe 1s linear infinite alternate;
}
.aboutContact .aboutContact-text .swiper .swiper-button-prev {
  color: #27AE60;
  -webkit-animation: animSwipe 1s linear infinite alternate;
          animation: animSwipe 1s linear infinite alternate;
}
.aboutContact .aboutContact-text .swiper-slide {
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: -webkit-grab;
  cursor: grab;
}
.aboutContact .aboutContact-text .animBlock {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
}
.aboutContact .aboutContact-text .animBlock::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #27AE60;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#27AE60, #27AE60), linear-gradient(#171717, #171717), linear-gradient(#27AE60, #27AE60), linear-gradient(#171717, #171717);
  -webkit-animation: anim-ramka-5 4s linear infinite;
          animation: anim-ramka-5 4s linear infinite;
}
.aboutContact .aboutContact-text .animBlock::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #171717;
  border-radius: 5px;
  filter: blur(5px);
}
@-webkit-keyframes anim-ramka-5 {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes anim-ramka-5 {
  100% {
    transform: rotate(1turn);
  }
}
.aboutContact .aboutContact-text .blockTwo {
  padding: 25px;
}
.aboutContact .aboutContact-text .blockTwo h3 {
  color: #27AE60;
  margin: 10px;
  text-align: center;
}
.aboutContact .aboutContact-text .blockTwo p {
  color: white;
  margin: 10px;
}
.aboutContact .aboutContact-text .blockTwo li {
  color: #27AE60;
  margin: 10px;
}
.aboutContact .aboutContact-text .blockTwo li::marker {
  color: white;
}
.aboutContact .aboutContact-mail {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  line-height: 30px;
}
.aboutContact .aboutContact-mail a {
  text-decoration: none;
  color: white;
}
.aboutContact .aboutContact-mail .fullName h2 {
  color: white;
}
.aboutContact .aboutContact-mail .fullName p {
  color: white;
}

@-webkit-keyframes wipe-enter {
  0% { /* Старт анимации */
    opacity: 0;
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
  }
}

@keyframes wipe-enter {
  0% { /* Старт анимации */
    opacity: 0;
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
  }
}
.myСapabilities {
  margin-top: 200px;
  -webkit-animation: wipe-enter 1s ease-in;
          animation: wipe-enter 1s ease-in;
}
.myСapabilities .myСapabilities-elem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.myСapabilities h2 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 50px;
}
.myСapabilities .myСapabilities-basis {
  margin: 10px;
  background-color: hsl(0deg, 0%, 13%);
  border-radius: 20px;
}
.myСapabilities .myСapabilities-basis.active {
  box-shadow: inset 1px 1px 5px black;
  border-bottom: 2px solid #27AE60;
}
.myСapabilities .myСapabilities-basis img {
  margin-left: 30px;
  margin-top: 30px;
}
.myСapabilities .myСapabilities-basis h2 {
  color: #4F4F4F;
  margin: 30px;
  text-align: center;
}
.myСapabilities .myСapabilities-basis button {
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: #27AE60;
  border: none;
  color: white;
  font-size: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 1s;
}
.myСapabilities .myСapabilities-basis button:hover {
  background-color: #4F4F4F;
  box-shadow: inset 1px 1px 5px black;
  cursor: pointer;
}
.myСapabilities .myСapabilities-other {
  background-color: #202020;
  border-radius: 20px;
  margin: 10px;
}
.myСapabilities .myСapabilities-other.active {
  box-shadow: inset 1px 1px 5px black;
  border-bottom: 2px solid #27AE60;
}
.myСapabilities .myСapabilities-other img {
  margin-left: 30px;
  margin-top: 30px;
}
.myСapabilities .myСapabilities-other h2 {
  color: #4F4F4F;
  margin: 30px;
  text-align: center;
}
.myСapabilities .myСapabilities-other button {
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: #27AE60;
  border: none;
  color: white;
  font-size: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 1s;
}
.myСapabilities .myСapabilities-other button:hover {
  background-color: #4F4F4F;
  box-shadow: inset 1px 1px 5px black;
  cursor: pointer;
}
.myСapabilities a {
  text-decoration: none;
}
.myСapabilities .myСapabilities-skills {
  -webkit-animation: other 0.5s ease-in;
          animation: other 0.5s ease-in;
  display: none;
}
.myСapabilities .myСapabilities-skills_basis {
  background-color: #202020;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border-radius: 10px;
}
.myСapabilities .myСapabilities-skills_basis h1 {
  color: #4F4F4F;
  font-size: 40px;
}
.myСapabilities .myСapabilities-skills_basis h3 {
  color: #27AE60;
  font-size: 25px;
  font-weight: 200;
  margin: 15px;
}
.myСapabilities .myСapabilities-skills_basis p {
  color: #27AE60;
  text-align: center;
  font-weight: 600;
}
.myСapabilities .myСapabilities-skills_basis .textBasis {
  margin: 50px;
}
.myСapabilities .myСapabilities-otherSkills {
  display: none;
  -webkit-animation: other 0.5s ease-in;
          animation: other 0.5s ease-in;
}
.myСapabilities .myСapabilities-skills_other {
  background-color: #202020;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border-radius: 10px;
}
.myСapabilities h1 {
  color: #4F4F4F;
  font-size: 40px;
}
.myСapabilities h3 {
  margin: 15px;
  color: #27AE60;
  font-size: 25px;
  font-weight: 200;
}
.myСapabilities p {
  color: #27AE60;
  text-align: center;
  font-weight: 600;
}
.myСapabilities .textOther {
  margin: 50px;
}

@-webkit-keyframes other {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes other {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer-first {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 150px;
}
.footer-first h2 {
  margin-top: 50px;
}
.footer-first hr {
  border: 1px solid #4F4F4F;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer .footer-phone {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-phone a {
  text-decoration: none;
  color: #27AE60;
  font-size: 20px;
  margin: 20px;
}
footer .footer-phone a span {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.btn-up {
  position: fixed;
  background-color: #27AE60;
  right: 50px;
  bottom: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  z-index: 5;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #202020; /* цвет заднего фона при наведении */
  }
}/*# sourceMappingURL=style.css.map */